# DTSC-580: Data Manipulation
## Assignment: Survivor

### Name:

## Overview

In this assignment, you will test all the skills that you have learned during this course to manipulate the provided data to find the answers to questions about the TV show Survivor.  If you are not familiar with this show, start by watching this short clip that briefly explains it:  [Survivor Explained](https://www.youtube.com/watch?v=l1-hTpG_krk)

Please note that your notebook should be named `survivor` when submitting to CodeGrade for the automatic grading to work properly.

## Data

The Survivor data is a R package from Daniel Oehm.  Daniel has made the data for this package available as an Excel file as explained in his article on [gradientdescending.com](http://gradientdescending.com/survivor-data-from-the-tv-series-in-r/).  Please make sure that you use the file from our Brightspace page though to make sure that your data will match what CodeGrade is expecting.  We have also updated some errors in the file, which is another reason that you must use the data given to you.

You need to first read the article on the website linked above.  This will give you additional details about the data that will be important as you answer the questions below.

Please note that there is a data dictionary in the file that explains the columns in the data.  You will also want to become familiar with the various spreadsheets and column names.

Finally, here are a couple of things to know for those of you that have not seen the show:
- Survivor is a reality TV show that first aired May 31, 2000 and is currently still on TV.
- Contestants are broken up into two teams (usually) where they live in separate camps. 
- The teams compete in various challenges for rewards (food, supplies, brief experience trips, etc) and tribal immunity.  
- The team that loses a challenge, and therefore doesn't get the tribal immunity, goes to tribal council where they have to vote one of their members out (this data is represented in the "Vote History" spreadsheet).
- After there are a small number of contestants left, the tribes are merged into one tribe where each contestant competes for individual immunity.  The winner of the individual immunity cannot get voted out and is safe at the next tribal council.
- The are also hidden immunity idols that are hidden around the campground.  If a contestant finds and plays their hidden immunity at the tribal council, then all votes against them do not count, and the player with the next highest number of votes goes home.
- When the contestants get down to 2 or 3 people, a number of the last contestants, known as the jury, come back to vote for the person who they think should win the game.  The winner is the one who gets the most jury votes (this data is represented in the "Jury Votes" spreadsheet).  This person is known as the Sole Survivor.
- Voting recap: 
    - Tribal Council votes (Vote History spreadsheet) are bad; contestants with the most votes get sent home
    - Jury Votes (Jury Votes spreadsheet) are good; contestants with the most votes win the game and is the Sole Survivor

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this.

For example, if the question is who is the contestant who has received the most tribal votes to be voted out.  Select their record from the `castaway_details` DataFrame.  

You would show your work and code similar to this:
```
### incorrect way ###
Q1 = castaway_details[castaway_details['castaway_id'] ==  333]

### correct way - showing your work ###
# get index
idx = vote_history.groupby('vote_id').size().sort_values(ascending=False).index[0]

# select row based on index 
Q1 = castaway_details[castaway_details['castaway_id'] ==  idx]
```

<u>Use Copy</u>

Don't change any of the original DataFrames unless specifically asked or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

First, import the data from the `survivor.xlsx` file, calling the respective DataFrames the same as the sheet name but with lowercase and [snake case](https://en.wikipedia.org/wiki/Snake_case).  For example, the sheet called `Castaway Details` should be saved as a DataFrame called `castaway_details`.  Make sure that the data files are in the same folder as your notebook.

Note:  You may or may not need to install [openpyxl](https://openpyxl.readthedocs.io/en/stable/) for the code below to work.  You can use: `$ pip install openpyxl`

In [2]:
# import data from Excel

# setup Filename and Object
fileName = "survivor.xlsx"
xls = pd.ExcelFile(fileName)

# import individual sheets
castaway_details = pd.read_excel(xls, 'Castaway Details')
castaways = pd.read_excel(xls, 'Castaways')
challenge_description = pd.read_excel(xls, 'Challenge Description')
challenge_results = pd.read_excel(xls, 'Challenge Results')
confessionals = pd.read_excel(xls, 'Confessionals')
hidden_idols = pd.read_excel(xls, 'Hidden Idols')
jury_votes = pd.read_excel(xls, 'Jury Votes')
tribe_mapping = pd.read_excel(xls, 'Tribe Mapping')
viewers = pd.read_excel(xls, 'Viewers')
vote_history = pd.read_excel(xls, 'Vote History')
season_summary = pd.read_excel(xls, 'Season Summary')
season_palettes = pd.read_excel(xls, 'Season Palettes')
tribe_colours = pd.read_excel(xls, 'Tribe Colours')

**Exercise1:** Change every column name of every DataFrame to lowercase and snake case.  This is a standard first step for some programmers as lowercase makes it easier to write and snake case makes it easier to copy multiple-word column names.

For example, `Castaway Id` should end up being `castaway_id`.  You should try doing this using a `for` loop instead of manually changing the names for each column.  It should take you no more than a few lines of code.  Use stackoverflow if you need help.

In [3]:
castaway_details.head()

,Castaway Id,Full Name,Short Name,Date of Birth,Date of Death,Gender,Race,Ethnicity,Occupation,Personality Type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP

In [4]:
df_list = [castaway_details, castaways, challenge_description, challenge_results, confessionals, hidden_idols, jury_votes, tribe_mapping, viewers, vote_history, season_summary, season_palettes, tribe_colours ]

for df in df_list:
    for col in df.columns:
        df.columns = df.columns.str.lower()
        df.columns = df.columns.str.replace(' ', '_')

In [5]:
castaway_details.columns

Index(['castaway_id', 'full_name', 'short_name', 'date_of_birth',
       'date_of_death', 'gender', 'race', 'ethnicity', 'occupation',
       'personality_type'],
      dtype='object')

In [6]:
castaways.columns

Index(['season_name', 'season', 'full_name', 'castaway_id', 'castaway', 'age',
       'city', 'state', 'personality_type', 'episode', 'day', 'order',
       'result', 'jury_status', 'original_tribe', 'swapped_tribe',
       'swapped_tribe_2', 'merged_tribe', 'total_votes_received',
       'immunity_idols_won'],
      dtype='object')

**Q2:** What contestant was the oldest at the time of their season?  We want to look at their age at the time of the season and NOT their current age.  Select their row from the `castaway_details` DataFrame and save this as `Q2`.  This should return a DataFrame and the index and missing values should be left as is.

In [7]:
Q2 = castaway_details[castaway_details['date_of_birth'] == castaway_details.date_of_birth.min()]
Q2

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
13,14,Rudy Boesch,Rudy,1928-01-20,2019-11-01,Male,NaN,NaN,Retired Navy SEAL,ISTJ

**Q3:** What contestant played in the most number of seasons? Select their row from the `castaway_details` DataFrame and save this as `Q3`.  This should return a DataFrame and the index and missing values should be left as is.

In [8]:
Q3_df = castaways.drop_duplicates(subset=['full_name', 'season'])
Q3_df

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8
1,Survivor: 41,41,Deshawn Radden,601,Deshawn,26,Miami,Florida,ENTP,13,26,17,Runner-up,NaN,Luvu,NaN,NaN,Via Kana,7,6
2,Survivor: 41,41,Xander Hastings,597,Xander,20,Chicago,Illinois,INFJ,13,26,16,2nd runner-up,NaN,Yase,NaN,NaN,Via Kana,2,6
3,Survivor: 41,41,Heather Aldret,593,Heather,52,Charleston,South Carolina,ISFJ,13,25,15,15th voted out,8th jury member,Luvu,NaN,NaN,Via Kana,4,6
4,Survivor: 41,41,Ricard Foye,596,Ricard,31,Sedro-Woolley,Washington,ENTJ,13,24,14,14th voted out,7th jury member,Ua,NaN,NaN,Via Kana,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,Survivor: Borneo,1,Dirk Been,5,Dirk,23,Spring Green,Wisconsin,ISFP,5,15,5,5th voted out,NaN,Tagi,NaN,NaN,NaN,4,2
758,Survivor: Borneo,1,Ramona Gray,4,Ramona,29,Edison,New Jersey,ISTJ,4,12,4,4th voted out,NaN,Pagong,NaN,NaN,NaN,6,2
759,Survivor: Borneo,1,Stacey Stillman,3,Stacey,27,San Francisco,California,ENTJ,3,9,3,3rd voted out,NaN,Tagi,NaN,NaN,NaN,6,1
760,Survivor: Borneo,1,B.B. Andersen,2,B.B.,64,Mission Hills,Kansas,ESTJ,2,6,2,2nd voted out,NaN,Pagong,NaN,NaN,NaN,6,1
761,Survivor: Borneo,1,Sonja Christopher,1,Sonja,63,Walnut Creek,California,ENFP,1,3,1,1st voted out,NaN,Tagi,NaN,NaN,NaN,4,0

In [9]:
Q3_df.groupby('full_name')['season'].count().sort_values(ascending=False)

full_name
Rob Mariano       5
Cirie Fields      4
Oscar Lusth       4
Tyson Apostol     4
Rupert Boneham    4
                 ..
Holly Hoffman     1
Helen Glover      1
Heidi Strobel     1
Heather Aldret    1
Zoe Zanidakis     1
Name: season, Length: 611, dtype: int64

In [10]:
Q3 = castaway_details[castaway_details['full_name'] == 'Rob Mariano']
Q3

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
54,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,ESTJ

**Q4:** Create a DataFrame of all the contestants that won their season (aka their final result in the `castaways` DataFrame was the 'Sole Survivor').  Call this DataFrame `sole_survivor`.  Note that contestants may appear more than one time in this DataFrame if they won more than one season.  Make sure that the index goes from 0 to n-1 and that the DataFrame is sorted ascending by season number.

The DataFrame should have the same columns, and the columns should be in the same order, as the `castaways` DataFrame.

In [11]:
sole_survivor = castaways[castaways['result'] == 'Sole Survivor'].sort_values(by='season').reset_index(drop=True)
sole_survivor

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

**Q5:** Have any contestants won more than one time?  If so, select their records from the `sole_survivor` DataFrame, sorting the rows by season.  Save this as `Q5`.  If no contestant has won twice, save `Q5` as the string `None`.

In [12]:
sole_survivor.groupby('full_name')['season'].count().sort_values(ascending=False)[:2]

full_name
Tony Vlachos         2
Sandra Diaz-Twine    2
Name: season, dtype: int64

In [13]:
Q5 = sole_survivor[(sole_survivor['full_name'] == 'Tony Vlachos') | (sole_survivor['full_name'] == 'Sandra Diaz-Twine')].sort_values(by='season')
Q5

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9

**Q6:** Using [value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html), what is the normalized relative frequencies (percentage) breakdown of gender for all the contestants?  Count someone who played in multiple seasons only once.  Round the results to 3 decimal places.  Save this as `Q6`.

In [14]:
Q6 = round(castaway_details['gender'].value_counts(normalize=True),3)
Q6

Male          0.502
Female        0.497
Non-binary    0.002
Name: gender, dtype: float64

**Q7:** 

- What percentage of times has a male won his season?  Save this percentage as `Q7A`.  
- What percentage of time has a female won her season?  Save this percentage as `Q7B`.  
- Note: Round all percentages to two decimal points and write as a float (example: `55.57`).
- Note 2: If a contestant has won twice, count each win separately.

In [15]:
df_joined = pd.merge(castaway_details, castaways, on='castaway_id')

In [16]:
(df_joined[df_joined['result'] == 'Sole Survivor'].value_counts('gender', normalize=True))*100

gender
Male      60.97561
Female    39.02439
dtype: float64

In [17]:
Q7A = round(60.97561,2)
Q7A

60.98

In [18]:
Q7B = round(39.02439,2)
Q7B

39.02

**Q8:** What is the average age of contestants when they appeared on the show?  Save this as `Q8`.  Round to nearest integer.

In [19]:
Q8 = round(castaways.age.mean())
Q8

33

**Q9:** Who played the most total number of days of Survivor? If a contestant appeared on more than one season, you would add their total days for each season together. Save the top five contestants in terms of total days played as a DataFrame and call it `Q9`, sorted in descending order by total days played.  

The following columns should be included: `castaway_id`, `full_name`, and `total_days_played` where `total_days_played` is the sum of all days a contestant played. The index should go from 0 to n-1.

Note:  Be careful because on some seasons, the contestant was allowed to come back into the game after being voted off.  Take a look at [Season 23's contestant Oscar Lusth](https://en.wikipedia.org/wiki/Ozzy_Lusth#South_Pacific) in the `castaways` DataFrame as an example.  He was voted out 7th and then returned to the game.  He was then voted out 9th and returned to the game a second time.  He was then voted out 17th the final time.  Be aware of this in your calculations and make sure you are counting the days according to the last time they were voted off or won.

In [20]:
Q9_df = castaways.drop_duplicates(subset=['season', 'full_name'])

In [21]:
Q9 = Q9_df.groupby(['castaway_id', 'full_name'], as_index=False)['day'].sum().sort_values(by='day',ascending=False).reset_index(drop=True).head().rename({'day': 'total_days_played'}, axis=1)
Q9

   castaway_id          full_name  total_days_played
0           55        Rob Mariano                131
1          197    Parvati Shallow                130
2          201        Oscar Lusth                128
3          179       Cirie Fields                121
4          112  Sandra Diaz-Twine                110

**Q10A & Q10B**: Using the `castaway_details` data, what is the percentage of total extroverts and introverts that have played the game (count players only once even if they have played in more than one season).  Do not count contestants without a personality type listed in your calculations.  Save these percentages as `Q10A` and `Q10B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57). 

For more information on personality types check this [Wikipedia article](https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator).

In [22]:
castaway_details2 = castaway_details.copy()

In [23]:
castaway_details2.personality_type.value_counts(normalize=True)

ENFP    0.107261
ESFP    0.097360
ISFP    0.084158
ESTP    0.079208
ISTJ    0.077558
INFP    0.072607
ESTJ    0.064356
INTP    0.059406
ISFJ    0.057756
ENTP    0.054455
ESFJ    0.046205
ISTP    0.044554
ENFJ    0.044554
ENTJ    0.042904
INFJ    0.034653
INTJ    0.033003
Name: personality_type, dtype: float64

In [24]:
castaway_details2.loc[castaway_details2['personality_type'].str.contains('E', case=False, na=False), 'personality_type' ] = 'extroverts'
castaway_details2.loc[castaway_details2['personality_type'].str.contains('I', case=False, na=False), 'personality_type' ] = 'introverts'

In [25]:
(castaway_details2.personality_type.value_counts(normalize=True))*100

extroverts    53.630363
introverts    46.369637
Name: personality_type, dtype: float64

In [26]:
Q10A = round(53.630363, 2)
Q10A

53.63

In [27]:
Q10B = round(46.369637, 2)
Q10B

46.37

**Q11A & Q11B**: Now that we know the percentages of total players that are extroverted and introverted, let's see if that made a difference in terms of who actually won their season.

What is the percentage of total extroverts and introverts that have won the game (count players only once even if they have won more than one season)?  Save these percentages as `Q11A` and `Q11B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).

In [28]:
sole_survivor

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

In [29]:
Q11_df = pd.merge(castaway_details2, sole_survivor, on='castaway_id')
Q11_df

,castaway_id,full_name_x,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type_x,season_name,season,full_name_y,castaway,age,city,state,personality_type_y,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,16,Richard Hatch,Richard,1961-04-08,NaT,Male,NaN,NaN,Corporate Trainer,extroverts,Survivor: Borneo,1,Richard Hatch,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,27,Amber Mariano,Amber,1978-08-11,NaT,Female,NaN,NaN,Administrative Assistant;Director of Marketing...,introverts,Survivor: All-Stars,8,Amber Brkich,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
2,32,Tina Wesson,Tina,1960-12-26,NaT,Female,NaN,NaN,Personal Nurse;Motivational Speaker,extroverts,Survivor: The Australian Outback,2,Tina Wesson,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
3,48,Ethan Zohn,Ethan,1973-11-12,NaT,Male,White,Jewish,Professional Soccer Player;Social Entrepreneur...,introverts,Survivor: Africa,3,Ethan Zohn,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
4,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,extroverts,Survivor: Redemption Island,22,Rob Mariano,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
5,64,Vecepia Towery,Vecepia,1965-12-09,NaT,Female,Black,NaN,Office Manager,introverts,Survivor: Marquesas,4,Vecepia Towery,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
6,80,Brian Heidik,Brian,1968-03-09,NaT,Male,NaN,NaN,Used Car Salesman,introverts,Survivor: Thailand,5,Brian Heidik,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
7,96,Jenna Morasca,Jenna M.,1981-02-15,NaT,Female,NaN,NaN,Swimsuit Model,introverts,Survivor: The Amazon,6,Jenna Morasca,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
8,112,Sandra Diaz-Twine,Sandra,1974-07-30,NaT,Female,NaN,Hispanic or Latino,Office Assistant;Case Manager,extroverts,Survivor: Pearl Islands,7,Sandra Diaz-Twine,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
9,112,Sandra Diaz-Twine,Sandra,1974-07-30,NaT,Female,NaN,Hispanic or Latino,Office Assistant;Case Manager,extroverts,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
10,130,Chris Daugherty,Chris,1970-08-29,NaT,Male,NaN,NaN,Highway Construction Worker,extroverts,Survivor: Vanuatu,9,Chris Daugherty,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
11,150,Tom Westman,Tom,1964-01-04,NaT,Male,NaN,NaN,NYC Firefighter;Motivational Speaker,extroverts,Survivor: Palau,10,Tom Westman,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
12,166,Danni Boatwright,Danni,1975-07-13,NaT,Female,NaN,NaN,Sports Radio Host;Owner of Sideline Chic,extroverts,Survivor: Guatemala,11,Danni Boatwright,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
13,182,Aras Baskauskas,Aras,1981-09-26,NaT,Male,NaN,NaN,Yoga Instructor;Musician,introverts,Survivor: Panama,12,Aras Baskauskas,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
14,197,Parvati Shallow,Parvati,1982-09-21,NaT,Female,White,NaN,Boxer;Charity Organizer;Yoga Teacher/Life Coac...,extroverts,Survivor: Micronesia,16,Parvati Shallow,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
15,202,Yul Kwon,Yul,1975-02-14,NaT,Male,Asian,Korean American,Management Consultant;Product Management,introverts,Survivor: Cook Islands,13,Yul Kwon,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
16,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,introverts,Survivor: Fiji,14,Earl Cole,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
17,237,Todd Herzog,Todd,1985-01-29,NaT,Male,NaN,NaN,Flight Attendant,extroverts,Survivor: China,15,Todd Herzog,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
18,265,Robert Crowley,Bob,1951-02-25,NaT,Male,NaN,NaN,Physics Teacher,introverts,Survivor: Gabon,17,Robert Crowley,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
19,274,Tyson Apostol,Tyson,1979-06-17,NaT,Male,NaN,NaN,Former Professional Cyclist/Missionary;Shop Ma...,extroverts,Survivor: Blood vs. Water,27,Tyson Apostol,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
20,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,extroverts,Survivor: Tocantins,18,James Thomas Jr.,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
21,301,Natalie White,Natalie,1983-04-22,NaT,Female,NaN,NaN,Pharmaceutical Sales,introverts,Survivor: Samoa,19,Natalie White,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
22,321,Jud Birza,Fabio,1989-06-12,NaT,Male,NaN,NaN,Student,extroverts,Survivor: Nicaragua,21,Jud Birza,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
23,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,introverts,Survivor: Caramoan,26,John Cochran,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
24,353,Sophie Clarke,Sophie,1989-07-10,NaT,Female,NaN,NaN,Medical Student;Healthcare Consultant,introverts,Survivor: South Pacific,23,Sophie Clarke,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
25,371,Kim Spradlin-Wolfe,Kim,1983-01-30,NaT,Female,NaN,NaN,Bridal Shop Owner;Interior Designer,introverts,Survivor: One World,24,Kim Spradlin,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
26,386,Denise Stapley,Denise,1971-01-01,NaT,Female,NaN,NaN,Sex Therapist,introverts,Survivor: Philippines,25,Denise Stapley,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
27,414,Sarah Lacina,Sarah,1984-07-09,NaT,Female,NaN,NaN,Police Officer,extroverts,Survivor: Game Changers,34,Sarah Lacina,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
28,424,Tony Vlachos,Tony,1973-09-10,NaT,Male,NaN,NaN,Police Officer,extroverts,Survivor: Cagayan,28,Tony Vlachos,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
29,424,Tony Vlachos,Tony,1973-09-10,NaT,Male,NaN,NaN,Police Officer,extroverts,Survivor: Winners at War,40,Tony Vlachos,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
30,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,extroverts,Survivor: Cambodia,31,Jeremy Collins,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,442,Natalie Anderson,Natalie,1986-04-11,NaT,Female,Asian,NaN,Crossfit Coach/Physical Therapy Student;CrossF...,extroverts,Survivor: San Juan del Sur,29,Natalie Anderson,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
32,460,Mike Holloway,Mike,1976-07-25,NaT,Male,NaN,NaN,Oil Driller,extroverts,Survivor: Worlds Apart,30,Mike Holloway,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
33,478,Michele Fitzgerald,Michele,1990-05-05,NaT,Female,NaN,NaN,Bartender;Business Development Manager,extroverts,Survivor: Kaoh Rong,32,Michele Fitzgerald,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
34,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,extroverts,Survivor: Millennials vs. Gen X,33,Adam Klein,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
35,516,Ben Driebergen,Ben,1983-01-01,NaT,Male,NaN,NaN,Marine;Real Estate/Stay-at-home Dad,extroverts,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
36,536,Wendell Holland,Wendell,1984-03-08,NaT,Male,Black,NaN,Furniture Company Owner;Furniture Designer,introverts,Survivor: Ghost Island,36,Wendell Holland,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
37,556,Nick Wilson,Nick,1990-06-11,NaT,Male,NaN,NaN,Public Defender;Attorney,extroverts,Survivor: David vs. Goliath,37,Nick Wilson,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
38,559,Chris Underwood,Chris,1992-10-06,NaT,Male,NaN,Hispanic or Latino,District Sales Manager,extroverts,Survivor: Edge of Extinction,38,Chris Underwood,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
39,590,Tommy Sheehan,Tommy,1992-10-26,NaT,Male,NaN,NaN,4th Grade Teacher,extroverts,Survivor: Island of the Idols,39,Tommy Sheehan,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
40,594,Erika Casupanan,Erika,1989-07-20,NaT,Female,Asian,NaN,Communications Manager,extroverts,Survivor: 41,41,Erika Casupanan,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

In [30]:
Q11_df = Q11_df.drop_duplicates(subset=['full_name_x'])
Q11_df

,castaway_id,full_name_x,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type_x,season_name,season,full_name_y,castaway,age,city,state,personality_type_y,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,16,Richard Hatch,Richard,1961-04-08,NaT,Male,NaN,NaN,Corporate Trainer,extroverts,Survivor: Borneo,1,Richard Hatch,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,27,Amber Mariano,Amber,1978-08-11,NaT,Female,NaN,NaN,Administrative Assistant;Director of Marketing...,introverts,Survivor: All-Stars,8,Amber Brkich,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
2,32,Tina Wesson,Tina,1960-12-26,NaT,Female,NaN,NaN,Personal Nurse;Motivational Speaker,extroverts,Survivor: The Australian Outback,2,Tina Wesson,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
3,48,Ethan Zohn,Ethan,1973-11-12,NaT,Male,White,Jewish,Professional Soccer Player;Social Entrepreneur...,introverts,Survivor: Africa,3,Ethan Zohn,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
4,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,extroverts,Survivor: Redemption Island,22,Rob Mariano,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
5,64,Vecepia Towery,Vecepia,1965-12-09,NaT,Female,Black,NaN,Office Manager,introverts,Survivor: Marquesas,4,Vecepia Towery,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
6,80,Brian Heidik,Brian,1968-03-09,NaT,Male,NaN,NaN,Used Car Salesman,introverts,Survivor: Thailand,5,Brian Heidik,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
7,96,Jenna Morasca,Jenna M.,1981-02-15,NaT,Female,NaN,NaN,Swimsuit Model,introverts,Survivor: The Amazon,6,Jenna Morasca,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
8,112,Sandra Diaz-Twine,Sandra,1974-07-30,NaT,Female,NaN,Hispanic or Latino,Office Assistant;Case Manager,extroverts,Survivor: Pearl Islands,7,Sandra Diaz-Twine,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
10,130,Chris Daugherty,Chris,1970-08-29,NaT,Male,NaN,NaN,Highway Construction Worker,extroverts,Survivor: Vanuatu,9,Chris Daugherty,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
11,150,Tom Westman,Tom,1964-01-04,NaT,Male,NaN,NaN,NYC Firefighter;Motivational Speaker,extroverts,Survivor: Palau,10,Tom Westman,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
12,166,Danni Boatwright,Danni,1975-07-13,NaT,Female,NaN,NaN,Sports Radio Host;Owner of Sideline Chic,extroverts,Survivor: Guatemala,11,Danni Boatwright,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
13,182,Aras Baskauskas,Aras,1981-09-26,NaT,Male,NaN,NaN,Yoga Instructor;Musician,introverts,Survivor: Panama,12,Aras Baskauskas,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
14,197,Parvati Shallow,Parvati,1982-09-21,NaT,Female,White,NaN,Boxer;Charity Organizer;Yoga Teacher/Life Coac...,extroverts,Survivor: Micronesia,16,Parvati Shallow,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
15,202,Yul Kwon,Yul,1975-02-14,NaT,Male,Asian,Korean American,Management Consultant;Product Management,introverts,Survivor: Cook Islands,13,Yul Kwon,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
16,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,introverts,Survivor: Fiji,14,Earl Cole,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
17,237,Todd Herzog,Todd,1985-01-29,NaT,Male,NaN,NaN,Flight Attendant,extroverts,Survivor: China,15,Todd Herzog,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
18,265,Robert Crowley,Bob,1951-02-25,NaT,Male,NaN,NaN,Physics Teacher,introverts,Survivor: Gabon,17,Robert Crowley,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
19,274,Tyson Apostol,Tyson,1979-06-17,NaT,Male,NaN,NaN,Former Professional Cyclist/Missionary;Shop Ma...,extroverts,Survivor: Blood vs. Water,27,Tyson Apostol,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
20,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,extroverts,Survivor: Tocantins,18,James Thomas Jr.,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
21,301,Natalie White,Natalie,1983-04-22,NaT,Female,NaN,NaN,Pharmaceutical Sales,introverts,Survivor: Samoa,19,Natalie White,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
22,321,Jud Birza,Fabio,1989-06-12,NaT,Male,NaN,NaN,Student,extroverts,Survivor: Nicaragua,21,Jud Birza,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
23,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,introverts,Survivor: Caramoan,26,John Cochran,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
24,353,Sophie Clarke,Sophie,1989-07-10,NaT,Female,NaN,NaN,Medical Student;Healthcare Consultant,introverts,Survivor: South Pacific,23,Sophie Clarke,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
25,371,Kim Spradlin-Wolfe,Kim,1983-01-30,NaT,Female,NaN,NaN,Bridal Shop Owner;Interior Designer,introverts,Survivor: One World,24,Kim Spradlin,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
26,386,Denise Stapley,Denise,1971-01-01,NaT,Female,NaN,NaN,Sex Therapist,introverts,Survivor: Philippines,25,Denise Stapley,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
27,414,Sarah Lacina,Sarah,1984-07-09,NaT,Female,NaN,NaN,Police Officer,extroverts,Survivor: Game Changers,34,Sarah Lacina,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
28,424,Tony Vlachos,Tony,1973-09-10,NaT,Male,NaN,NaN,Police Officer,extroverts,Survivor: Cagayan,28,Tony Vlachos,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
30,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,extroverts,Survivor: Cambodia,31,Jeremy Collins,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,442,Natalie Anderson,Natalie,1986-04-11,NaT,Female,Asian,NaN,Crossfit Coach/Physical Therapy Student;CrossF...,extroverts,Survivor: San Juan del Sur,29,Natalie Anderson,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
32,460,Mike Holloway,Mike,1976-07-25,NaT,Male,NaN,NaN,Oil Driller,extroverts,Survivor: Worlds Apart,30,Mike Holloway,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
33,478,Michele Fitzgerald,Michele,1990-05-05,NaT,Female,NaN,NaN,Bartender;Business Development Manager,extroverts,Survivor: Kaoh Rong,32,Michele Fitzgerald,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
34,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,extroverts,Survivor: Millennials vs. Gen X,33,Adam Klein,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
35,516,Ben Driebergen,Ben,1983-01-01,NaT,Male,NaN,NaN,Marine;Real Estate/Stay-at-home Dad,extroverts,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
36,536,Wendell Holland,Wendell,1984-03-08,NaT,Male,Black,NaN,Furniture Company Owner;Furniture Designer,introverts,Survivor: Ghost Island,36,Wendell Holland,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
37,556,Nick Wilson,Nick,1990-06-11,NaT,Male,NaN,NaN,Public Defender;Attorney,extroverts,Survivor: David vs. Goliath,37,Nick Wilson,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
38,559,Chris Underwood,Chris,1992-10-06,NaT,Male,NaN,Hispanic or Latino,District Sales Manager,extroverts,Survivor: Edge of Extinction,38,Chris Underwood,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
39,590,Tommy Sheehan,Tommy,1992-10-26,NaT,Male,NaN,NaN,4th Grade Teacher,extroverts,Survivor: Island of the Idols,39,Tommy Sheehan,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
40,594,Erika Casupanan,Erika,1989-07-20,NaT,Female,Asian,NaN,Communications Manager,extroverts,Survivor: 41,41,Erika Casupanan,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

In [31]:
(Q11_df.personality_type_x.value_counts(normalize=True))*100

extroverts    61.538462
introverts    38.461538
Name: personality_type_x, dtype: float64

In [32]:
Q11A = round(61.538462, 2)
Q11A

61.54

In [33]:
Q11B = round(38.461538, 2)
Q11B

38.46

**Q12:** Which contestants have never received a tribal council vote (i.e. a vote to be voted out of the game as shown in the `vote_id` column in the `vote_history` DataFrame)? Note that there are various reasons for a contestant to not receive a tribal vote: they quit, made it to the end, medical emergency, etc.  Select their rows from the `castaway_details` DataFrame and save this as `Q12` in ascending order by `castaway_id`.  This should return a DataFrame and the index and missing values should be left as is.

In [126]:
Q12_df = pd.merge(castaway_details, vote_history, on='castaway_id')
Q12_df

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name,season,episode,day,tribe_status,castaway,immunity,vote,nullified,voted_out,order,vote_order,vote_id,voted_out_id
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP,Survivor: Borneo,1,1,3,Original,Sonja,NaN,Rudy,False,Sonja,1,1,14.0,1.0
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ,Survivor: Borneo,1,2,6,Original,B.B.,NaN,Ramona,False,B.B.,2,1,4.0,2.0
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ,Survivor: Borneo,1,1,3,Original,Stacey,NaN,Rudy,False,Sonja,1,1,14.0,1.0
3,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ,Survivor: Borneo,1,3,9,Original,Stacey,NaN,Rudy,False,Stacey,3,1,14.0,3.0
4,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ,Survivor: Borneo,1,2,6,Original,Ramona,NaN,B.B.,False,B.B.,2,1,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4746,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,8,16,Merged,Liana,NaN,Tiffany,False,Tiffany,8,1,604.0,604.0
4747,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,9,17,Merged,Liana,NaN,Evvie,False,Evvie,10,1,598.0,598.0
4748,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,10,19,Merged,Liana,NaN,Erika,False,Tie,11,1,594.0,NaN
4749,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,10,19,Merged,Liana,NaN,None,False,Shan,11,1,NaN,606.0
4750,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,11,21,Merged,Liana,NaN,Ricard,False,Liana,12,1,596.0,608.0

In [127]:
Q12_df = Q12_df[vote_history['vote_id'].isnull() ]
Q12_df

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name,season,episode,day,tribe_status,castaway,immunity,vote,nullified,voted_out,order,vote_order,vote_id,voted_out_id
16,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,2,6,Original,Greg,NaN,Ramona,False,B.B.,2,1,4.0,2.0
17,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,4,12,Original,Greg,NaN,Jenna,False,Ramona,4,1,9.0,4.0
41,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,10,26,Merged,Gervase,NaN,Laura M.,False,Laura M.,14,1,292.0,292.0
60,11,Colleen Haskell,Colleen,1976-12-06,NaT,Female,NaN,NaN,Student,INFP,Survivor: Borneo,1,8,24,Merged,Colleen,NaN,Jenna,False,Greg,8,1,9.0,8.0
61,11,Colleen Haskell,Colleen,1976-12-06,NaT,Female,NaN,NaN,Student,INFP,Survivor: Borneo,1,9,27,Merged,Colleen,NaN,Richard,False,Jenna,9,1,16.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,594,Erika Casupanan,Erika,1989-07-20,NaT,Female,Asian,NaN,Communications Manager,ENFP,Survivor: 41,41,9,17,Merged,Erika,Individual,Naseer,False,Naseer,9,2,600.0,600.0
4745,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,7,14,Merged,Liana,Individual,Sydney,False,Sydney,7,1,605.0,605.0
4747,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,9,17,Merged,Liana,NaN,Evvie,False,Evvie,10,1,598.0,598.0
4749,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,10,19,Merged,Liana,NaN,None,False,Shan,11,1,NaN,606.0
4750,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,11,21,Merged,Liana,NaN,Ricard,False,Liana,12,1,596.0,608.0

In [133]:
Q12 = Q12_df[['castaway_id', 'full_name', 'short_name', 'date_of_birth',
       'date_of_death', 'gender', 'race', 'ethnicity', 'occupation',
       'personality_type']].sort_values(by='castaway_id')

In [134]:
Q12

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
16,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP
17,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP
41,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP
60,11,Colleen Haskell,Colleen,1976-12-06,NaT,Female,NaN,NaN,Student,INFP
61,11,Colleen Haskell,Colleen,1976-12-06,NaT,Female,NaN,NaN,Student,INFP
...,...,...,...,...,...,...,...,...,...,...
4652,594,Erika Casupanan,Erika,1989-07-20,NaT,Female,Asian,NaN,Communications Manager,ENFP
4747,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ
4749,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ
4745,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ
4750,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

In [132]:
idx = castaway_details.columns
idx

Index(['castaway_id', 'full_name', 'short_name', 'date_of_birth',
       'date_of_death', 'gender', 'race', 'ethnicity', 'occupation',
       'personality_type'],
      dtype='object')

**Q13:** What contestant has won the most number of challenges?  Select their row from the `castaway_details` DataFrame and save this as `Q13`.  This should return a DataFrame and the index and missing values should be left as is.

In [39]:
challenge_results

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,2.0,B.B.,Pagong,Winner
1,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,4.0,Ramona,Pagong,Winner
2,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,6.0,Joel,Pagong,Winner
3,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,7.0,Gretchen,Pagong,Winner
4,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4436,Survivor: 41,41,12,23,Truth Kamikaze,Dizzy Miss Lizzy,Immunity,Individual,CH1015,596.0,Ricard,Via Kana,Winner
4437,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,594.0,Erika,Via Kana,Winner
4438,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,593.0,Heather,Via Kana,Chosen to participate
4439,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Immunity,Individual,CH0954,594.0,Erika,Via Kana,Winner
4440,Survivor: 41,41,13,25,One Thing Left to do… Win,A Bit Tipsy,Immunity,Individual,CH0062,597.0,Xander,Via Kana,Winner

In [40]:
challenge_results_winner = challenge_results[challenge_results['outcome_status'] == 'Winner']
challenge_results_winner

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,2.0,B.B.,Pagong,Winner
1,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,4.0,Ramona,Pagong,Winner
2,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,6.0,Joel,Pagong,Winner
3,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,7.0,Gretchen,Pagong,Winner
4,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,Survivor: 41,41,12,22,Truth Kamikaze,Beach Front Bay Bash,Reward,Team,CH1017,594.0,Erika,Via Kana,Winner
4436,Survivor: 41,41,12,23,Truth Kamikaze,Dizzy Miss Lizzy,Immunity,Individual,CH1015,596.0,Ricard,Via Kana,Winner
4437,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,594.0,Erika,Via Kana,Winner
4439,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Immunity,Individual,CH0954,594.0,Erika,Via Kana,Winner
4440,Survivor: 41,41,13,25,One Thing Left to do… Win,A Bit Tipsy,Immunity,Individual,CH0062,597.0,Xander,Via Kana,Winner

In [41]:
challenge_results_winner.groupby('winner_id')['outcome_status'].count().sort_values(ascending=False).head(1)

winner_id
201.0    42
Name: outcome_status, dtype: int64

In [42]:
challenge_results[challenge_results['winner_id'] == 201.0]

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
1187,Survivor: Cook Islands,13,1,3,I Can Forgive Her But I Don't Have To Because ...,"Lock, Load and Light",Immunity,Tribal,CH0517,201.0,Ozzy,Aitutaki,Winner
1192,Survivor: Cook Islands,13,1,3,I Can Forgive Her But I Don't Have To Because ...,"Lock, Load and Light",Immunity,Tribal,CH0517,201.0,Ozzy,Roratonga,Winner
1232,Survivor: Cook Islands,13,4,11,Ruling the Roost,Rescue Mission,Immunity,Tribal,CH0021,201.0,Ozzy,Aitutaki,Winner
1240,Survivor: Cook Islands,13,4,11,Ruling the Roost,Sacrificial Lamb,Reward,Tribal,CH0406,201.0,Ozzy,Aitutaki,Winner
1248,Survivor: Cook Islands,13,5,14,Don't Cry Over Spilled Octopus,United We Stand,Immunity,Tribal,CH0520,201.0,Ozzy,Aitutaki,Winner
1264,Survivor: Cook Islands,13,6,15,Plan Voodoo,Kicking and Screaming,Reward,Tribal,CH0599,201.0,Ozzy,Aitutaki,Winner
1277,Survivor: Cook Islands,13,8,18,Why Aren't You Swimming?!,Smash and Grab,Reward,Tribal,CH0524,201.0,Ozzy,Aitutaki,Winner
1281,Survivor: Cook Islands,13,9,21,Mutiny,Depth Charge,Immunity,Tribal,CH0536,201.0,Ozzy,Aitutaki,Winner
1285,Survivor: Cook Islands,13,9,21,Mutiny,Barrel of Monkeys,Reward,Tribal,CH0531,201.0,Ozzy,Aitutaki,Winner
1289,Survivor: Cook Islands,13,10,24,People That You Like Want To See You Suffer,South Pacific,Immunity,Tribal,CH0537,201.0,Ozzy,Aitutaki,Winner
1293,Survivor: Cook Islands,13,10,24,People That You Like Want To See You Suffer,Puzzle Dig,Reward,Tribal,CH0511,201.0,Ozzy,Aitutaki,Winner
1295,Survivor: Cook Islands,13,11,27,Why Would You Trust Me?,Get a Grip,Immunity,Individual,CH0407,201.0,Ozzy,NaN,Winner
1298,Survivor: Cook Islands,13,13,33,Arranging a Hit,Troubled Water,Immunity,Individual,CH0416,201.0,Ozzy,NaN,Winner
1302,Survivor: Cook Islands,13,14,36,I Have the Advantage...For Once,Cannonball Run,Immunity,Individual,CH0539,201.0,Ozzy,NaN,Winner
1303,Survivor: Cook Islands,13,14,36,I Have the Advantage...For Once,Mud Pack,Reward,Individual,CH0097,201.0,Ozzy,NaN,Winner
1306,Survivor: Cook Islands,13,15,37,"This Tribe Will Self-Destruct in 5, 4, 3...",Out on a Limb,Immunity,Individual,CH0054,201.0,Ozzy,NaN,Winner
1307,Survivor: Cook Islands,13,15,38,"This Tribe Will Self-Destruct in 5, 4, 3...",Perch,Immunity,Individual,CH0890,201.0,Ozzy,NaN,Winner
1549,Survivor: Micronesia,16,2,6,The Sounds of Jungle Love,Smash and Grab,Reward and Immunity,Tribal,CH0524,201.0,Ozzy,Malakal,Winner
1567,Survivor: Micronesia,16,3,8,I Should Be Carried on the Chariot-Type Thing!,By Any Means Necessary,Reward,Tribal,CH0430,201.0,Ozzy,Malakal,Winner
1575,Survivor: Micronesia,16,4,11,"That's Baked, Barbecued and Fried!",Crosswalk,Immunity,Tribal,CH0586,201.0,Ozzy,Malakal,Winner
1583,Survivor: Micronesia,16,4,11,"That's Baked, Barbecued and Fried!",Dive Masters,Reward,Tribal,CH0388,201.0,Ozzy,Malakal,Winner
1626,Survivor: Micronesia,16,7,20,Like a Wide-Eyed Kid in the Candy Store,Blind Leading the Blind,Reward,Tribal,CH0631,201.0,Ozzy,Malakal,Winner
1641,Survivor: Micronesia,16,10,27,I Promise...,Box Your Mind,Reward,Team,CH0224,201.0,Ozzy,NaN,Winner
2306,Survivor: South Pacific,23,1,3,I Need Redemption,Temple Transfer,Reward,Tribal,CH0279,201.0,Ozzy,Savaii,Winner
2311,Survivor: South Pacific,23,2,5,He Has Demons,Crate Escape,Reward and Immunity,Tribal,CH0755,201.0,Ozzy,Savaii,Winner
2327,Survivor: South Pacific,23,4,11,Survivalism,Shoulder the Load,Reward and Immunity,Tribal,CH0357,201.0,Ozzy,Savaii,Winner
2342,Survivor: South Pacific,23,6,16,Free Agent,Losing Face,Reward and Immunity,Tribal,CH0765,201.0,Ozzy,Savaii,Winner
2357,Survivor: South Pacific,23,8,21,Double Agent,Jail Break,Duel,Individual,CH0730,201.0,Ozzy,NaN,Winner
2361,Survivor: South Pacific,23,10,27,Running the Show,Keep it Up,Duel,Individual,CH0699,201.0,Ozzy,NaN,Winner
2365,Survivor: South Pacific,23,12,30,Cult Like,By Any Means Necessary,Duel,Individual,CH0430,201.0,Ozzy,NaN,Winner
2367,Survivor: South Pacific,23,13,32,Ticking Time Bomb,"Snag, Drag and Bag",Duel,Individual,CH0656,201.0,Ozzy,NaN,Winner
2370,Survivor: South Pacific,23,14,35,Then There Were Five,Sea Crates,Duel,Individual,CH0679,201.0,Ozzy,NaN,Winner
2371,Survivor: South Pacific,23,15,37,Loyalties Will Be Broken,House of Cards,Immunity,Individual,CH0131,201.0,Ozzy,NaN,Winner
2373,Survivor: South Pacific,23,15,37,Loyalties Will Be Broken,Get a Grip,Duel,Individual,CH0407,201.0,Ozzy,NaN,Winner
3511,Survivor: Game Changers,34,1,6,The Stakes Have Been Raised,Cell Block Sea,Reward and Immunity,Tribal,CH0836,201.0,Ozzy,Nuku,Winner
3521,Survivor: Game Changers,34,1,3,The Stakes Have Been Raised,Blue Lagoon Bustle,Reward and Immunity,Tribal,CH0839,201.0,Ozzy,Nuku,Winner
3531,Survivor: Game Changers,34,1,3,The Stakes Have Been Raised,Race to Shore,Reward,Tribal,CC0472,201.0,Ozzy,Nuku,Winner
3548,Survivor: Game Changers,34,2,9,Survivor Jackpot,The Obstacle Course,Reward and Immunity,Tribal,CH0039,201.0,Ozzy,Tavua,Winner
3552,Survivor: Game Changers,34,3,11,The Tables Have Turned,Blind Leading the Blind,Immunity,Tribal,CH0631,201.0,Ozzy,Tavua,Winner
3574,Survivor: Game Changers,34,4,13,Dirty Deed,Losing Face,Reward and Immunity,Tribal,CH0765,201.0,Ozzy,Tavua,Winner
3598,Survivor: Game Changers,34,6,18,"What Happened on Exile, Stays on Exile",Dulcimer Drop,Reward,Tribal,CH0966,201.0,Ozzy,Nuku,Winner
3606,Survivor: Game Changers,34,7,24,There's a New Sheriff in Town,New School,Reward,Team,CH0967,201.0,Ozzy,NaN,Winner

In [43]:
Q13 = castaway_details[castaway_details['short_name'].str.contains('Ozzy')]
Q13

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
200,201,Oscar Lusth,Ozzy,1981-08-23,NaT,Male,Mexican American,Hispanic or Latino,Waiter;Photographer,ISFP

**Q14:** Let's see if the use of hidden immunity idols has increased or decreased over the seasons.   Create a Series of the number of hidden idols held per season.  The season number should be the index and the values should be the sum of the number of idols that were held.  Save this as `Q14`, sorted by season in ascending order.

In [115]:
hidden_idols2 = hidden_idols.set_index('season')
groupby_season = hidden_idols2.groupby('season')
Q14 = groupby_season.idols_held.sum().sort_index()
Q14

season
11     1
12     1
13     1
14     4
15     3
16     4
17     4
18     3
19     4
20    11
21     4
22     3
23     2
24     3
25     3
26     7
27     3
28     6
29     5
30     3
31     4
32     5
33     7
34     8
35    10
36     9
37     7
38     8
39    13
40    10
Name: idols_held, dtype: int64

**Q15:** Which contestant held the most number of hidden immunity idols in a single season?  Select their row from the `castaway_details` DataFrame and save this as `Q15`.  This should return a DataFrame and the index and missing values should be left as is.

In [45]:
hidden_idols2

,season_name,castaway_id,castaway,idol_number,idols_held,votes_nullified,day_found,day_played,legacy_advantage
season,,,,,,,,,
11,Survivor: Guatemala,161,Gary,1,1,0.0,24.0,NaN,False
12,Survivor: Panama,180,Terry,1,1,0.0,NaN,NaN,False
13,Survivor: Cook Islands,202,Yul,1,1,0.0,NaN,NaN,False
14,Survivor: Fiji,218,Yau-Man,1,1,4.0,17.0,36.0,False
14,Survivor: Fiji,214,Mookie,1,1,0.0,20.0,NaN,False
...,...,...,...,...,...,...,...,...,...
40,Survivor: Winners at War,478,Michele,1,1,2.0,22.0,31.0,False
40,Survivor: Winners at War,424,Tony,1,1,0.0,28.0,36.0,False
40,Survivor: Winners at War,516,Ben,1,1,2.0,29.0,36.0,False
40,Survivor: Winners at War,442,Natalie,1,1,4.0,35.0,36.0,False
40,Survivor: Winners at War,442,Natalie,2,1,0.0,37.0,37.0,False

In [46]:
hidden_idols.groupby(['castaway_id', 'season']).sum('idols_held').sort_values(by='idols_held', ascending=False)

,,idol_number,idols_held,votes_nullified,day_found,day_played,legacy_advantage
castaway_id,season,,,,,,
560,38,10,4,8.0,117.0,127.0,0
424,28,6,3,0.0,63.0,55.0,0
578,39,6,3,5.0,47.0,19.0,0
516,35,6,3,9.0,100.0,106.0,0
300,19,6,3,7.0,51.0,45.0,0
...,...,...,...,...,...,...,...
347,23,1,0,0.0,0.0,0.0,0
370,24,1,0,0.0,2.0,0.0,0
246,26,1,0,0.0,31.0,0.0,0
181,20,1,0,0.0,0.0,0.0,0
386,25,1,0,0.0,0.0,0.0,0

In [47]:
Q15 = castaway_details[castaway_details['castaway_id'] == 560]
Q15

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
559,560,Rick Devens,Rick,1984-04-05,NaT,Male,NaN,NaN,Morning News Anchor,ENTP

**Q16:** What was the largest number of days between when a hidden immunity idol was found and played. Don't count instances with missing values in days found or the days played column.  Save the largest number of days as `Q16` (as an int).

In [48]:
hidden_idols

,season_name,season,castaway_id,castaway,idol_number,idols_held,votes_nullified,day_found,day_played,legacy_advantage
0,Survivor: Guatemala,11,161,Gary,1,1,0.0,24.0,NaN,False
1,Survivor: Panama,12,180,Terry,1,1,0.0,NaN,NaN,False
2,Survivor: Cook Islands,13,202,Yul,1,1,0.0,NaN,NaN,False
3,Survivor: Fiji,14,218,Yau-Man,1,1,4.0,17.0,36.0,False
4,Survivor: Fiji,14,214,Mookie,1,1,0.0,20.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...
154,Survivor: Winners at War,40,478,Michele,1,1,2.0,22.0,31.0,False
155,Survivor: Winners at War,40,424,Tony,1,1,0.0,28.0,36.0,False
156,Survivor: Winners at War,40,516,Ben,1,1,2.0,29.0,36.0,False
157,Survivor: Winners at War,40,442,Natalie,1,1,4.0,35.0,36.0,False
158,Survivor: Winners at War,40,442,Natalie,2,1,0.0,37.0,37.0,False

In [49]:
hidden_idols['day_diff'] = hidden_idols['day_played'] - hidden_idols['day_found']
hidden_idols['day_diff'].sort_values(ascending=False)

113    33.0
76     33.0
128    32.0
94     31.0
95     27.0
       ...
141     NaN
142     NaN
148     NaN
149     NaN
152     NaN
Name: day_diff, Length: 159, dtype: float64

In [50]:
Q16 = 33
Q16

33

**Q17:** Let's see how many winners ended up getting unanimous jury votes to win the game.  Create a Dataframe that shows the survivors that got unanimous jury votes with these columns in the final output: `season`, `season_name`, `winner_id`, `full_name`.  The DataFrame should be sorted by season and the index should go from 0 to n-1.  Save this as `Q17`.

In [51]:
challenge_results

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,2.0,B.B.,Pagong,Winner
1,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,4.0,Ramona,Pagong,Winner
2,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,6.0,Joel,Pagong,Winner
3,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,7.0,Gretchen,Pagong,Winner
4,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4436,Survivor: 41,41,12,23,Truth Kamikaze,Dizzy Miss Lizzy,Immunity,Individual,CH1015,596.0,Ricard,Via Kana,Winner
4437,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,594.0,Erika,Via Kana,Winner
4438,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,593.0,Heather,Via Kana,Chosen to participate
4439,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Immunity,Individual,CH0954,594.0,Erika,Via Kana,Winner
4440,Survivor: 41,41,13,25,One Thing Left to do… Win,A Bit Tipsy,Immunity,Individual,CH0062,597.0,Xander,Via Kana,Winner

In [52]:
jury_votes

,season_name,season,castaway,finalist,vote,castaway_id,finalist_id
0,Survivor: 41,41,Heather,Deshawn,0,593,601
1,Survivor: 41,41,Ricard,Deshawn,0,596,601
2,Survivor: 41,41,Danny,Deshawn,1,599,601
3,Survivor: 41,41,Liana,Deshawn,0,608,601
4,Survivor: 41,41,Shan,Deshawn,0,606,601
...,...,...,...,...,...,...,...
928,Survivor: Borneo,1,Greg,Richard,1,8,16
929,Survivor: Borneo,1,Jenna,Richard,0,9,16
930,Survivor: Borneo,1,Rudy,Richard,1,14,16
931,Survivor: Borneo,1,Sean,Richard,1,12,16
932,Survivor: Borneo,1,Sue,Richard,1,13,16

In [53]:
g = jury_votes.groupby(['season', 'finalist_id'])[['castaway_id']].count()
g

                    castaway_id
season finalist_id
1      15                     7
       16                     7
2      31                     7
       32                     7
3      47                     7
...                         ...
40     442                   16
       478                   16
41     594                    8
       597                    8
       601                    8

[108 rows x 1 columns]

In [54]:
j = jury_votes.groupby(['season', 'finalist_id' ])[['vote']].sum()
j

                    vote
season finalist_id
1      15              3
       16              4
2      31              3
       32              4
3      47              2
...                  ...
40     442             4
       478             0
41     594             7
       597             0
       601             1

[108 rows x 1 columns]

In [55]:
merged = pd.merge(j,g, left_on='finalist_id', right_on='finalist_id')
merged = merged.rename({'vote': 'summed_vote',
              'castaway_id': 'castaway_id_count'}, axis=1)
merged

             summed_vote  castaway_id_count
finalist_id
15                     3                  7
16                     4                  7
31                     3                  7
32                     4                  7
47                     2                  7
...                  ...                ...
589                    2                 10
590                    8                 10
594                    7                  8
597                    0                  8
601                    1                  8

[124 rows x 2 columns]

In [56]:
#finalists with unanimous votes, count of the voters = sum of the votes 
merged[merged.summed_vote == merged.castaway_id_count]

             summed_vote  castaway_id_count
finalist_id
221                    9                  9
281                    7                  7
348                    8                  8
433                   10                 10
498                   10                 10

In [57]:
jury_votes

,season_name,season,castaway,finalist,vote,castaway_id,finalist_id
0,Survivor: 41,41,Heather,Deshawn,0,593,601
1,Survivor: 41,41,Ricard,Deshawn,0,596,601
2,Survivor: 41,41,Danny,Deshawn,1,599,601
3,Survivor: 41,41,Liana,Deshawn,0,608,601
4,Survivor: 41,41,Shan,Deshawn,0,606,601
...,...,...,...,...,...,...,...
928,Survivor: Borneo,1,Greg,Richard,1,8,16
929,Survivor: Borneo,1,Jenna,Richard,0,9,16
930,Survivor: Borneo,1,Rudy,Richard,1,14,16
931,Survivor: Borneo,1,Sean,Richard,1,12,16
932,Survivor: Borneo,1,Sue,Richard,1,13,16

In [58]:
challenge_results

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,2.0,B.B.,Pagong,Winner
1,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,4.0,Ramona,Pagong,Winner
2,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,6.0,Joel,Pagong,Winner
3,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,7.0,Gretchen,Pagong,Winner
4,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4436,Survivor: 41,41,12,23,Truth Kamikaze,Dizzy Miss Lizzy,Immunity,Individual,CH1015,596.0,Ricard,Via Kana,Winner
4437,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,594.0,Erika,Via Kana,Winner
4438,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Reward,Individual,CH0954,593.0,Heather,Via Kana,Chosen to participate
4439,Survivor: 41,41,13,24,One Thing Left to do… Win,Gimme Three Steps,Immunity,Individual,CH0954,594.0,Erika,Via Kana,Winner
4440,Survivor: 41,41,13,25,One Thing Left to do… Win,A Bit Tipsy,Immunity,Individual,CH0062,597.0,Xander,Via Kana,Winner

In [59]:
castaway_details

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP
...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP
604,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP
605,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ
606,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ
607,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

In [60]:
df_17 = pd.merge(castaway_details, jury_votes, left_on='castaway_id', right_on='castaway_id')
df_17

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name,season,castaway,finalist,vote,finalist_id
0,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15
1,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Richard,1,16
2,9,Jenna Lewis,Jenna L.,1977-07-16,NaT,Female,NaN,NaN,Student,ENFP,Survivor: All-Stars,8,Jenna L.,Amber,0,27
3,9,Jenna Lewis,Jenna L.,1977-07-16,NaT,Female,NaN,NaN,Student,ENFP,Survivor: All-Stars,8,Jenna L.,Boston Rob,1,55
4,9,Jenna Lewis,Jenna L.,1977-07-16,NaT,Female,NaN,NaN,Student,ENFP,Survivor: Borneo,1,Jenna,Kelly,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ,Survivor: 41,41,Shan,Erika,1,594
929,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ,Survivor: 41,41,Shan,Xander,0,597
930,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Deshawn,0,601
931,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Erika,1,594
932,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597

In [61]:
df_17 = pd.merge(df_17, challenge_results, left_on='short_name', right_on='winner')
df_17

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name_x,season_x,castaway,finalist,vote,finalist_id,season_name_y,season_y,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner
1,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15,Survivor: Borneo,1,2,6,The Generation Gap,Shoulder the Load,Reward,Tribal,CH0357,8.0,Greg,Pagong,Winner
2,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15,Survivor: Borneo,1,3,9,Quest for Food,Rescue Mission,Immunity,Tribal,CH0021,8.0,Greg,Pagong,Winner
3,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15,Survivor: Borneo,1,5,15,Pulling Your Own Weight,Shipwrecked,Immunity,Tribal,CH0034,8.0,Greg,Pagong,Winner
4,8,Greg Buis,Greg,1975-12-31,NaT,Male,NaN,NaN,Ivy League Graduate,INTP,Survivor: Borneo,1,Greg,Kelly,0,15,Survivor: Borneo,1,5,15,Pulling Your Own Weight,Choose Your Weapon,Reward,Tribal,CH0029,8.0,Greg,Pagong,Winner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15432,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597,Survivor: 41,41,4,9,They Hate Me Because They Ain't Me,Kenny Log-Ins,Immunity,Tribal,CH0982,608.0,Liana,Yase,Winner
15433,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597,Survivor: 41,41,4,9,They Hate Me Because They Ain't Me,Running Down a Dream,Reward,Tribal,CH1005,608.0,Liana,Yase,Winner
15434,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597,Survivor: 41,41,5,11,The Strategist or the Loyalist,Losing Face,Reward and Immunity,Tribal,CH0765,608.0,Liana,Yase,Winner
15435,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597,Survivor: 41,41,7,14,There's Gonna Be Blood,The Game is Afoot,Immunity,Tribal,CH0902,608.0,Liana,NaN,Winner
15436,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,Liana,Xander,0,597,Survivor: 41,41,9,17,Who's who in the Zoo,Uncomfortably Numb,Reward,Team,CH0907,608.0,Liana,Via Kana,Winner

In [62]:
df_17 = df_17[(df_17['finalist_id'] == 221) | (df_17['finalist_id'] == 281) | (df_17['finalist_id'] == 348) | (df_17['finalist_id'] == 433) | (df_17['finalist_id'] == 498)]
df_17 = df_17[['season_x', 'season_name_x', 'winner_id', 'full_name']]
df_17 = df_17.rename({'season_x': 'season',
             'season_name_x': 'season_name'}, axis=1)

In [63]:
Q17 = df_17.sort_values(by='season').drop_duplicates(subset='full_name').reset_index(drop=True)
Q17

    season                      season_name  winner_id              full_name
0       14                   Survivor: Fiji      216.0          Stacy Kimball
1       14                   Survivor: Fiji      212.0            Michelle Yi
2       14                   Survivor: Fiji      218.0           Yau-Man Chan
3       14                   Survivor: Fiji      213.0         Edgardo Rivera
4       14                   Survivor: Fiji      215.0          Alex Angarita
5       14                   Survivor: Fiji      210.0             James Reid
6       14                   Survivor: Fiji      211.0        Lisette Linares
7       14                   Survivor: Fiji      214.0             Mookie Lee
8       14                   Survivor: Fiji      217.0         Kenward Bernis
9       18              Survivor: Tocantins      456.0            Sierra Reed
10      18              Survivor: Tocantins      276.0            Debra Beebe
11      18              Survivor: Tocantins      274.0          Tyson Apostol
12      18              Survivor: Tocantins      277.0          Benjamin Wade
13      18              Survivor: Tocantins      520.0        Brendan Synnott
14      18              Survivor: Tocantins      279.0          Erinn Lobdell
15      18              Survivor: Tocantins      278.0  Tamara Johnson-George
16      26               Survivor: Caramoan      528.0           Michael Snow
17      26               Survivor: Caramoan      337.0       Phillip Sheppard
18      26               Survivor: Caramoan      333.0         Andrea Boehlke
19      26               Survivor: Caramoan      384.0        Malcolm Freberg
20      26               Survivor: Caramoan      312.0            Brenda Lowe
21      26               Survivor: Caramoan      395.0             Edward Fox
22      26               Survivor: Caramoan      394.0        Reynold Toepfer
23      26               Survivor: Caramoan      246.0       Erik Reichenbach
24      31               Survivor: Cambodia      451.0             Joe Anglim
25      31               Survivor: Cambodia      383.0        Abi-Maria Gomes
26      31               Survivor: Cambodia      429.0       Kelley Wentworth
27      31               Survivor: Cambodia      422.0    Kassandra McQuillen
28      31               Survivor: Cambodia      406.0           Ciera Eastin
29      31               Survivor: Cambodia       15.0      Kelly Wiglesworth
30      31               Survivor: Cambodia      344.0             Keith Nale
31      31               Survivor: Cambodia       21.0       Kimmi Kappenberg
32      31               Survivor: Cambodia      280.0       Stephen Fishbach
33      31               Survivor: Cambodia      105.0          Andrew Savage
34      33  Survivor: Millennials vs. Gen X      505.0          Jessica Lewis
35      33  Survivor: Millennials vs. Gen X      492.0        Sunday Burquest
36      33  Survivor: Millennials vs. Gen X      494.0           Bret LaBelle
37      33  Survivor: Millennials vs. Gen X      490.0             Zeke Smith
38      33  Survivor: Millennials vs. Gen X      559.0          Chris Hammons
39      33  Survivor: Millennials vs. Gen X      491.0              Will Wahl
40      33  Survivor: Millennials vs. Gen X      493.0        Justin Starrett
41      33  Survivor: Millennials vs. Gen X      495.0           David Wright
42      33  Survivor: Millennials vs. Gen X      486.0      Michelle Schubert
43      33  Survivor: Millennials vs. Gen X      487.0     Taylor Lee Stocker

**Q18:** Sometimes a contestant might win the game even though they have a lot of other contestants trying to eliminate them.    What survivor that won their season had the most votes against them to get voted out during the season (represented as "total_votes_received" from the `sole_survivor` DataFrame).  Select their row from the `castaway_details` DataFrame and save this as `Q18`. This should return a DataFrame and the index and missing values should be left as is.

In [64]:
sole_survivor.head()

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8

In [65]:
sole_survivor.groupby(['castaway_id', 'season_name'])[['total_votes_received']].sum().sort_values(by = 'total_votes_received', ascending=False).head(1)

                                                       total_votes_received
castaway_id season_name
516         Survivor: Heroes vs. Healers vs. Hustlers                    11

In [66]:
Q18 = castaway_details[castaway_details['castaway_id'] == 516]
Q18

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
515,516,Ben Driebergen,Ben,1983-01-01,NaT,Male,NaN,NaN,Marine;Real Estate/Stay-at-home Dad,ESFP

**Q19:** For the `castaway_details` DataFrame, there is a `full_name` column and a `short_name` column.  It would be helpful for future analysis to have the contestants first and last name split into separate columns.  First copy the `castaway_details` DataFrame to a new DataFrame called `Q19` so that we do not change the original DataFrame.  

Create two new columns and add the contestant's first name to a new column called `first_name` and their last name to a new column called `last_name`.  Add these columns to the `Q19` DataFrame.  Put the `first_name` and `last_name` columns between the `full_name` and `short_name` columns.

Note:  Be careful as some players have last names with multiple spaces.  For example, `Lex van den Berghe`.  You should code `Lex` as his first name and `van den Berghe` as his last name.

In [67]:
Q19 = castaway_details.copy()
Q19.head()

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP

In [68]:
name = Q19['full_name'].str.split(expand=True, n=1)
name
#Q19['first_name'] = name[:0]

           0            1
0      Sonja  Christopher
1       B.B.     Andersen
2     Stacey     Stillman
3     Ramona         Gray
4       Dirk         Been
..       ...          ...
603  Tiffany        Seely
604   Sydney        Segal
605  Shantel        Smith
606    David         Voce
607    Liana      Wallace

[608 rows x 2 columns]

In [69]:
name[0]

0        Sonja
1         B.B.
2       Stacey
3       Ramona
4         Dirk
        ...
603    Tiffany
604     Sydney
605    Shantel
606      David
607      Liana
Name: 0, Length: 608, dtype: object

In [70]:
Q19['first_name'] = name[0]
Q19['last_name'] = name[1]

In [71]:
Q19 = Q19[['castaway_id', 'full_name', 'first_name', 'last_name', 'short_name', 'date_of_birth', 'date_of_death', 'gender', 'race', 'ethnicity', 'occupation', 'personality_type']]
Q19

,castaway_id,full_name,first_name,last_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP
...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP
604,605,Sydney Segal,Sydney,Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP
605,606,Shantel Smith,Shantel,Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ
606,607,David Voce,David,Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ
607,608,Liana Wallace,Liana,Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

In [72]:
#checking
Q19[Q19['first_name'] == 'Lex']

,castaway_id,full_name,first_name,last_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
45,46,Lex van den Berghe,Lex,van den Berghe,Lex,1963-06-18,NaT,Male,NaN,NaN,Marketing Manager,ENTJ

**Q20:** Let's say that we wanted to predict a contestants personality type based on the information in the data files.  Your task is to create a DataFrame that lists the `castaway_id`, `full_name` and `personality_type` for each castaway contestant.  However, since most machine learning algorithms use numeric data, you want to change the personality types to the following numbers:
- ISTJ - 1
- ISTP - 2
- ISFJ - 3
- ISFP - 4
- INFJ - 5
- INFP - 6
- INTJ - 7
- INTP - 8
- ESTP - 9
- ESTJ - 10
- ESFP - 11
- ESFJ - 12
- ENFP - 13
- ENFJ - 14
- ENTP - 15
- ENTJ - 16
- Missing values - 17

Save this new DataFrame as `Q20` and sort based on `castaway_id` in ascending order.

In [73]:
Q20_df = castaway_details.copy()

In [74]:
Q20_df[['castaway_id','full_name', 'personality_type' ]]

     castaway_id          full_name personality_type
0              1  Sonja Christopher             ENFP
1              2      B.B. Andersen             ESTJ
2              3    Stacey Stillman             ENTJ
3              4        Ramona Gray             ISTJ
4              5          Dirk Been             ISFP
..           ...                ...              ...
603          604      Tiffany Seely             ENTP
604          605       Sydney Segal             ESTP
605          606      Shantel Smith             ENFJ
606          607         David Voce             ENTJ
607          608      Liana Wallace             ESTJ

[608 rows x 3 columns]

In [75]:
Q20_df[['personality_type']] = castaway_details[['personality_type']].replace({'ISTJ' : 1,
'ISTP' : 2,
'ISFJ' : 3,
'ISFP' : 4,
'INFJ' : 5,
'INFP' : 6,
'INTJ' : 7,
'INTP' : 8,
'ESTP' : 9,
'ESTJ' : 10,
'ESFP' : 11,
'ESFJ' : 12,
'ENFP' : 13,
'ENFJ' : 14,
'ENTP' : 15,
'ENTJ' :16
})

In [76]:
Q20_df[['personality_type']] = Q20_df[['personality_type']].fillna(17)
Q20_df[['personality_type']] = Q20_df[['personality_type']].astype(int).astype('category')

In [77]:
Q20 = Q20_df[['castaway_id','full_name', 'personality_type' ]].sort_values(by='castaway_id')
Q20

     castaway_id          full_name personality_type
0              1  Sonja Christopher               13
1              2      B.B. Andersen               10
2              3    Stacey Stillman               16
3              4        Ramona Gray                1
4              5          Dirk Been                4
..           ...                ...              ...
603          604      Tiffany Seely               15
604          605       Sydney Segal                9
605          606      Shantel Smith               14
606          607         David Voce               16
607          608      Liana Wallace               10

[608 rows x 3 columns]

**Q21:** After thinking about this some more, you realize that you don't want to code the personality traits as you did in problem 20 since the data is not ordinal.  Some machine learning algorithms will assume that numbers close to each other are more alike than those that are away from each other and that is not the case with these personality types.

Let's create a new DataFrame called `Q21` that creates dummy columns (using `get_dummies`) for the original personality type column.  Add a prefix called "type" and drop the first column to help prevent multicollinearity.  The columns should be `castaway_id`, `full_name` followed by the various dummy columns for the personality types.  Don't worry about any missing values in this step.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [78]:
Q21_df = castaway_details.copy()
Q21_df

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP
...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP
604,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP
605,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ
606,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ
607,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

In [79]:
dummies = pd.get_dummies(Q21_df, columns=['personality_type'], prefix='type', drop_first=True)
dummies

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,type_ENFP,type_ENTJ,type_ENTP,type_ESFJ,type_ESFP,type_ESTJ,type_ESTP,type_INFJ,type_INFP,type_INTJ,type_INTP,type_ISFJ,type_ISFP,type_ISTJ,type_ISTP
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
604,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
605,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
606,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
607,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [80]:
Q21 = dummies.drop(['short_name', 'date_of_birth', 'date_of_death', 'gender', 'race', 'ethnicity','occupation'], axis=1)
Q21

,castaway_id,full_name,type_ENFP,type_ENTJ,type_ENTP,type_ESFJ,type_ESFP,type_ESTJ,type_ESTP,type_INFJ,type_INFP,type_INTJ,type_INTP,type_ISFJ,type_ISFP,type_ISTJ,type_ISTP
0,1,Sonja Christopher,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,B.B. Andersen,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Stacey Stillman,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Ramona Gray,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5,Dirk Been,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
604,605,Sydney Segal,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
605,606,Shantel Smith,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
606,607,David Voce,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
607,608,Liana Wallace,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

**Q22:** After running your data above through your machine learning model, you determine that a better prediction might come from breaking the personality type into its four parts (one part for each character in the type).  Your task is now to create a DataFrame called `Q22` that splits the personality type into the various parts and creates a new column for each part (these columns should be called `interaction` that will represent the first letter in the personality type, `information` for the second letter, `decision` for the third, and `organization` for the fourth).

Again, since most machine learning algorithms work with numeric data, perform the following on the four new columns:
- `interaction` --> code all `I`'s as `0` and `E`'s as `1`
- `information` --> code all `S`'s as `0` and `N`'s as `1`
- `decision` --> code all `T`'s as `0` and `F`'s as `1`
- `organization` --> code as `J`'s with `0` and `P`'s as `1`
- Any missing values should be coded with a `2`

For example, if a contestant's personality type was `ENTJ`, your columns for that row would be:
- `1` for `interaction` because of the `E`
- `1` for `information` because of the `N`
- `0` for `decision` because of the `T` 
- `0` for `organization` because of the `J`

The new DataFrame should be sorted in `castaway_id` order and have the following columns in this order: `castaway_id`, `full_name`, `personality_type`, `interaction`, `information`, `decision`, `organization`.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [81]:
castaway_details

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP
...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP
604,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP
605,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ
606,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ
607,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

**Q23:** Using data from `castaways`, create a DataFrame called `Q23` that bins the contestant ages (their age when they were on the season, not their current age) into the following age categories:
- 18-24
- 25-34
- 35-44
- 45-54
- 55-64
- 65+

The final DataFrame should have the following columns in this order: `season`, `castaway_id`, `full_name`, `age`, and `age_category`.  The DataFrame should be sorted by age and then castaway_id.  The index should be 0 through n-1.  You should have the same amount of rows as in the `castaways` DataFrame.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [92]:
castaways.age.max()

75

In [91]:
bins = [18,24,34,44,54,64,76]

In [101]:
Q23_df = castaways.copy()
Q23_df = Q23_df[['season', 'castaway_id', 'full_name', 'age']]
Q23_df.shape

(762, 4)

In [122]:
bins = [17,24,34,44,54,64,76]

Q23_df['age_category'] = pd.cut(castaways.age, bins, labels = ['18-24','25-34','35-44','45-54','55-64', '65+'])

In [123]:
Q23_df['age_category']

0      25-34
1      25-34
2      18-24
3      45-54
4      25-34
       ...
757    18-24
758    25-34
759    25-34
760    55-64
761    55-64
Name: age_category, Length: 762, dtype: category
Categories (6, object): ['18-24' < '25-34' < '35-44' < '45-54' < '55-64' < '65+']

In [124]:
Q23 = Q23_df.sort_values(by=['age', 'castaway_id']).reset_index(drop=True)
Q23

     season  castaway_id          full_name  age age_category
0        33          491          Will Wahl   18        18-24
1        36          528     Michael Yerger   18        18-24
2        18          270       Spencer Duhm   19        18-24
3        22          336  Natalie Tenerelli   19        18-24
4        23          350      Brandon Hantz   19        18-24
..      ...          ...                ...  ...          ...
757      24          366         Greg Smith   64        55-64
758      21          304      Jimmy Johnson   67          65+
759      32          474   Joseph Del Campo   71          65+
760       1           14        Rudy Boesch   72          65+
761       8           14        Rudy Boesch   75          65+

[762 rows x 5 columns]

**Q24:** Based on the age categories you created above, what are the normalized percentages for the various age categories using `value_counts()`.  Sort the value counts by index.  Save this as `Q24`.

In [125]:
Q24 = Q23_df['age_category'].value_counts(normalize=True).sort_index()
Q24

18-24    0.190289
25-34    0.437008
35-44    0.211286
45-54    0.124672
55-64    0.031496
65+      0.005249
Name: age_category, dtype: float64

**Q25:** Which contestant(s) played a perfect game?  A perfect game is considered when the contestant:
- didn't receive any tribal council votes all season
- won the game
- got unanimous jury votes (see question 17)

Save this DataFrame as `Q25` with the following columns: `season_name`, `season`, `castaway_id`, `full_name`, `tribal_council_votes`, `jury_votes`.  The DataFrame should be sorted by season and the index should be 0 to n-1.

In [110]:
jury_votes.head()

    season_name  season castaway finalist  vote  castaway_id  finalist_id
0  Survivor: 41      41  Heather  Deshawn     0          593          601
1  Survivor: 41      41   Ricard  Deshawn     0          596          601
2  Survivor: 41      41    Danny  Deshawn     1          599          601
3  Survivor: 41      41    Liana  Deshawn     0          608          601
4  Survivor: 41      41     Shan  Deshawn     0          606          601